$black: #000

QMainWindow
  background: #f8f8f8

QToolBar
  background-color: $black
  height: 125px
  border-bottom: 4px solid $primary-color

  >
    .toolbarSpacer
      min-width: 125px
      min-height: 44px
      background: url($logo) no-repeat
      border: 1px solid transparent
      margin-top: 5px
      margin-left: 15px
      margin-right: 40px
      &:hover
        background-color: transparent

    QToolButton
      border: 0px
      background-color: $black
      color: white
      margin-top: 15px
      margin-bottom: 15px
      margin-left: 3px
      margin-right: 3px
      height: 15px
      font-size: 12px
      font-weight: 500
      padding-top: 5px
      padding-bottom: 5px
      padding-left: 5px
      padding-right: 5px

      &:checked
        border-bottom: 2px solid $primary-color
        color: white
        margin-top: 17px
        margin-bottom: 15px
        height: 15px
        font-weight: 500
        padding-top: 5px
        padding-bottom: 5px
        padding-left: 5px
        padding-right: 5px

        &:hover
          background-color: #322f30

      &:hover
        background-color: #322f30

QGroupBox
  background: transparent
  color: black

QTableView
  selection-background-color: #c2efff
  selection-color: black

QPushButton
  background-color: #0074a0
  border: 1px solid #006287
  border-radius: 3px
  font-weight: 600
  color: white
  padding: 4px

  &:hover
    background-color: #004f6d

  &:disabled
    background-color: #dddddd
    color: #9f9f9f
    border: 1px solid #9f9f9f

QLabel, QCheckBox
  background-color: transparent

QDialog
  background-color: #f8f8f8

QDoubleSpinBox, QLineEdit
  background-color: white

QMessageBox
  background-color: #f8f8f8

QSizeGrip
  background-color: $black

QStatusBar
  color: white
  background-color: $black

  .progressBarLabel, > .statusBarStyle
    color: #ffffff

QTimeEdit
  background-color: #f8f8f8

QToolButton
  background-color: #0074a0
  border: 1px solid #006287

  &:hover
    background-color: #004f6d

  &:disabled
    background-color: #dddddd
    border: 1px solid #9f9f9f

QToolTip
  background-color: #f8f8f8
  color: block
  border: 0px

QProgressBar
  max-height: 25px
